<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
</head>
<body>

<h3>Student Registration Form</h3>

<form th:action="@{/processStudentForm}" th:object="${student}" method="post">
    First Name: <input type="text" th:field="*{firstName}" />

    <br><br>

    Last Name: <input type="text" th:field="*{lastName}" />

    <br><br>

    Country:

    <select th:field="*{country}">

        <option th:each="country : ${countries}" th:value="${country}" th:text="${country}" />

        <!--
            Value: Value send during form submission
            Text: Text displayed to user
        -->

    </select>

    <br><br>

    Favorite Programming Language:

    <input type="radio" th:field="*{favoriteLanguage}"
           th:each="language : ${languages}"
           th:value="${language}"
           th:text="${language}" />

    <br><br>

    Favorite Operating Systems:

    <input type="checkbox" th:field="*{favoriteSystems}" th:value="Linux" th:text="Linux" />
    <input type="checkbox" th:field="*{favoriteSystems}" th:value="MaxOS" th:text="MaxOS" />
    <input type="checkbox" th:field="*{favoriteSystems}"
                           th:value="'Microsoft Windows'" th:text="'Microsoft Windows'" />


    <br><br>


    <input type="submit" value="Submit" />

</form>

</body>
</html>